[0-9]+-[0-9]+-([a-zA-Z0-9]+)[_\.].+ irods:///iplant/home/shared/irri/workflow-outputs/$username/$run_id/[1]/[0] pool="irods_iplant" regex="true"
.* irods:///iplant/home/shared/irri/workflow-outputs/$username/$run_id/[0] pool="irods_iplant" regex="true"

